/* Global */

:root {
  --primary-color: #009f53;
  --secondary-color: #213364;
  --font-color: #666666;
  --bg-color: #fff;
  --heading-color: #3f3a64;
  --border-color: transparent;
  --border-color-light: #eee;
  --bg-grey: #f7f7f7;
  --bg-light-grey: #f8f9fa;
  --layer: rgba(29, 42, 55, 0.7);
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
}

.title__small {
  font-size: 0.875rem;
  color: #7e7d7d;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1px;
  display: block;
}

.title__big {
  font-size: 2.1875rem;
  font-weight: 700;
  color: var(--heading-color);
  line-height: 45px;
}

.title__p {
  font-size: 1.0625rem;
  color: #666666;
  line-height: 27px;
  opacity: 0.8;
  margin-top: 24px;
}

.green__button {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 18px;
  color: var(--bg-color);
  background-color: var(--primary-color);
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  padding: 15px 50px;
  margin-top: 30px;
  transition: all 0.5s;
}

.green__button:hover {
  background-color: #008030;
  border-color: #00732c;
}

/* header */

header.main-header {
  padding: 0;
  height: 100px;
  display: grid;
  align-items: center;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  width: 100%;
  transition: all 0.4s ease 0;
  z-index: 10;
}

header.nav-fixed {
  height: 80px;
  padding: 0;
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  border-bottom: none;
  transition: all 0.3s;
}

.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
  color: var(--primary-color) !important;
  opacity: 0.9;
  transition: all 0.3s;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
  color: var(--heading-color) !important;
  opacity: 0.7;
  transition: all 0.3s;
}

.nav-fixed #navbarContent .nav-item.dropdown::after {
  color: var(--heading-color);
  transition: all 0.3s;
}

.nav-fixed .navbar-expand-lg .navbar-brand {
  color: var(--heading-color);
  transition: all 0.3s;
}

.nav-fixed .navbar-expand-lg .header__modecontainer i {
  color: var(--heading-color);
}

.navbar .navbar-brand {
  color: var(--bg-color);
  font-size: 1.875rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.navbar .navbar-brand i {
  color: var(--primary-color);
  margin-right: 5px;
  vertical-align: bottom;
}

.navbar .navbar-brand span {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  padding-left: 46px;
  opacity: 0.9;
}

#navbarContent .nav-item {
  padding: 0px 10px;
}

#navbarContent .nav-link {
  font-size: 0.9375rem;
  font-weight: 600;
  color: var(--bg-color);
  padding: 14px 0 10px;
}

.dropdown-toggle::after {
  display: none;
}

#navbarContent .nav-item.dropdown::after {
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: var(--bg-color);
  font-size: inherit;
  position: absolute;
  top: 16px;
  right: 10px;
}

#navbarContent .nav-item.dropdown {
  padding-right: 25px;
}

#navbarContent .dropdown-menu {
  transform: translateX(-50px);
  background-color: #fff;
  border: 1px solid var(--border-color-light);
  border-radius: 8px;
  padding: 16px 0;
  min-width: 192px;
}

#navbarContent .dropdown-item {
  font-size: 0.9375rem;
  color: var(--heading-color);
  padding: 6px 20px;
  opacity: 0.8;
  font-weight: 600;
  background: none;
}

#navbarContent .dropdown-item:hover {
  color: var(--heading-color);
  opacity: 1;
}

#navbarContent .dropdown-menu:before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid var(--border-color-light);
  border-right: none;
  border-bottom: none;
  position: absolute;
  top: -7px;
  left: 49%;
  transform: translateX(-50%) rotate(45deg);
}

#navbarContent .header__modecontainer {
  text-align: center;
  padding: 1px 0;
  border: none;
  background-color: none;
  position: relative;
}

.header__modecontainer i {
  color: #eee;
  font-size: 1.5rem;
}

/* header__search */

.header__control {
  cursor: pointer;
}

.header__control .header__searchButton {
  width: 45px;
  height: 45px;
  line-height: 45px;
  outline: none;
  text-align: center;
  border-radius: 50%;
  color: var(--bg-color);
  background-color: var(--primary-color);
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__control .fa-search {
  transition: opacity 0.3s ease-in-out;
}

.header__search .fa-close {
  position: absolute;
  color: var(--bg-color);
  cursor: pointer;
  font-size: 4.375rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.header__search-input {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -40px;
  pointer-events: none;
  opacity: 0;
  transform: translate(40px, 0);
  width: 88%;
  transition: all 0.3s ease-in-out;
}

.header__search-input .header__input-search {
  width: 100%;
  height: 100vh;
  color: var(--bg-color) !important;
  outline: none;
  border: none;
  font-size: 3.375rem;
  font-weight: 200;
  background-color: transparent;
}

.header__search-input .header__input-search::placeholder {
  color: #fff;
}

body.search-active .header__control .header__searchButton {
  transform: scale(70);
}

body.search-active .header__control .fa-search {
  opacity: 0;
}

body.search-active {
  overflow: hidden;
}

body.search-active .fa-close {
  opacity: 1;
  transform: rotate(-90deg);
}

body.search-active .header__search-input {
  opacity: 1;
  transform: none;
  pointer-events: all;
}

header.active {
  background: rgba(0, 0, 0, 0.7);
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler .icon-close {
  display: block;
}

/* search */

/* navbar-toggler */

.navbar-toggler {
  color: rgba(255, 255, 255, 0.5) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

/* carousel */

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .container {
  position: relative;
  z-index: 1;
}

.slick-initialized .carousel__item {
  position: relative;
  min-height: 800px;
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.carousel__bg1 {
  background: url("../img/b1.jpg") no-repeat top;
  background-size: cover;
}

.carousel__bg2 {
  background: url("../img/b2.jpg") no-repeat top;
  background-size: cover;
}

.carousel__bg3 {
  background: url("../img/b3.jpg") no-repeat top;
  background-size: cover;
}

.carousel__bg4 {
  background: url("../img/b4.jpg") no-repeat top;
  background-size: cover;
}

.carousel__content {
  color: var(--bg-color);
}

.carousel__content h1 {
  font-size: 4.0625rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 18px;
  max-width: 800px;
}

.carousel__content p {
  font-size: 1.25rem;
  line-height: 30px;
  letter-spacing: 0.01rem;
  opacity: 0.9;
  max-width: 600px;
}

/* animation per slide when slick active */
.carousel__bg1.slick-active .carousel__content h1 {
  animation: flipInX 1s;
}

.carousel__bg1.slick-active .carousel__content p {
  animation: fadeInUp 1s;
}

.carousel__bg1.slick-active .carousel__content .carousel__button1 {
  animation: fadeInDown 1s;
}

.carousel__bg2.slick-active .carousel__content h1 {
  animation: fadeInDown 1s;
}

.carousel__bg2.slick-active .carousel__content p {
  animation: fadeInDown 1s;
}

.carousel__bg2.slick-active .carousel__content .carousel__button2 {
  animation: fadeInDown 1s;
}

.carousel__bg3.slick-active .carousel__content h1 {
  animation: fadeInUp 1s;
}

.carousel__bg3.slick-active .carousel__content p {
  animation: fadeInUp 1s;
}

.carousel__bg3.slick-active .carousel__content .carousel__button3 {
  animation: fadeInDown 1s;
}

.carousel__bg4.slick-active .carousel__content h1 {
  animation: flipInX 1s;
}

.carousel__bg4.slick-active .carousel__content p {
  animation: fadeInDown 1s;
}

.carousel__bg4.slick-active .carousel__content .carousel__button4 {
  animation: fadeInUp 1s;
}
/* animation per slide when slick active */

.carousel__item img {
  width: 100%;
}

.carousel .slick-arrow {
  position: absolute;
  bottom: 50px;
  right: 25px;
  font-size: 0;
  background-color: var(--bg-color);
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
  z-index: 12;
}

.carousel .slick-prev.slick-arrow:before {
  content: "\f060";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1rem;
  text-align: center;
  line-height: 50px;
  color: var(--heading-color);
}

.carousel .slick-prev.slick-arrow {
  right: 95px;
}

.carousel .slick-next.slick-arrow:before {
  content: "\f061";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 1rem;
  text-align: center;
  line-height: 50px;
  color: var(--heading-color);
}

.carousel .slick-next.slick-arrow {
  right: 25px;
}

.carousel__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--layer);
}

.carousel__shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.carousel__shape svg {
  width: 100%;
}

.carousel__shape path {
  fill: var(--bg-color);
}

/* about */

.about__image img {
  border-radius: 8px;
}

.about ul li a {
  font-size: 1.125rem;
  color: var(--heading-color);
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
}

.about ul li {
  margin-bottom: 15px;
}

.about ul li a i {
  color: var(--primary-color);
  margin-right: 5px;
  opacity: 0.8;
}

/* work */

.work {
  background-color: var(--bg-grey);
}

.work__item {
  background-color: var(--bg-color);
  padding: 40px 30px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  text-align: center;
  transform: translateY(0);
  transition: all 0.3s;
}

.work__item:hover {
  box-shadow: 0px 2px 4px rgb(46, 41, 51, 0.08),
    0px 5px 10px rgb(71, 63, 79, 0.16);
  transform: translateY(-0.25rem);
}

.work__feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.work__item img {
  display: block;
  margin: 0 auto;
  max-width: 65px;
}

.work__item a {
  display: block;
  text-decoration: none;
  color: var(--heading-color);
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 25px;
  transition: all 0.3s;
}

.work__item a:hover {
  color: var(--primary-color);
}

/* service */

.services__info {
  padding: 0 20px;
}

.services__info a {
  text-decoration: none;
  padding: 12px 35px;
  font-size: 1.1875rem;
  font-weight: 600;
  color: var(--heading-color);
  line-height: 28px;
  background-color: var(--bg-color);
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  transform: translateY(-25px);
  transition: all 0.5s;
}

.services__info p {
  font-size: 1.0625rem;
  line-height: 27px;
  color: var(--font-color);
  opacity: 0.8;
  margin-top: -10px;
}

.services__info:hover a {
  color: var(--primary-color);
}

.services__learnMore {
  display: inline-block;
  padding: 8px 35px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 28px;
  color: var(--heading-color);
  transition: all 0.3s;
}

.services__learnMore:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.services__img {
  border-radius: 8px 8px 0 0;
}

/* gallery */

.gallery {
  background-color: var(--bg-light-grey);
}

.gallery__title {
  max-width: 800px;
  margin: auto;
}

.gallery__item {
  position: relative;
  overflow: hidden;
}

.gallery__img {
  display: block;
  transition: all 0.5s;
}

.gallery__item:hover img {
  transform: scale(1.1);
}

.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--layer);
  opacity: 0;
  z-index: 1;
  transition: all 0.5s;
}

.gallery__item:hover .gallery__overlay {
  opacity: 1;
}

.gallery__content-hover {
  padding: 46px 50px;
  position: absolute;
  bottom: -100%;
  transition: all 0.5s;
  z-index: 2;
}

.gallery__item:hover .gallery__content-hover {
  bottom: 0;
}

.gallery__title {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.gallery__content {
  display: block;
  font-size: 1.125rem;
  color: #fff;
}

.gallery__logo {
  border-top: 1px solid var(--border-color-light);
}

.gallery__logo img {
  padding: 0 18px;
}

/* progressing */

.progressing__img {
  border-radius: 8px;
}

.progressing__item {
  margin-bottom: 30px;
  text-align: left;
  position: relative;
}

/* progress-bar-1 */
.progressing__item-1 .progressing__inner-title {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 80%;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--heading-color);
  margin-bottom: 5px;
}

.progress__gradient-1 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(to right, #0d8abc, #61fded);
}

.progress__small-button-1::before,
.progress__small-button-1::after {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress__small-button-1::before {
  width: 28px;
  height: 28px;
  border: 1px solid;
  opacity: 0.3;
}

.progress__small-button-1::after {
  width: 13px;
  height: 13px;
  border: 3px solid;
  background-color: var(--bg-color);
}
/* progress-bar-1 */

/* progress-bar-2 */
.progressing__item-2 .progressing__inner-title {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 95%;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--heading-color);
  margin-bottom: 5px;
}

.progress__gradient-2 {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(to right, #d45529, #eece90);
}

.progress__small-button-2::before,
.progress__small-button-2::after {
  content: "";
  position: absolute;
  right: 5%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress__small-button-2::before {
  width: 28px;
  height: 28px;
  border: 1px solid;
  opacity: 0.3;
}

.progress__small-button-2::after {
  width: 13px;
  height: 13px;
  border: 3px solid;
  background-color: var(--bg-color);
}
/* progress-bar-2 */

/* progress-bar-3 */
.progressing__item-3 .progressing__inner-title {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 60%;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--heading-color);
  margin-bottom: 5px;
}

.progress__gradient-3 {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(to right, #f646a9, #5c51ff);
}

.progress__small-button-3::before,
.progress__small-button-3::after {
  content: "";
  position: absolute;
  right: 40%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress__small-button-3::before {
  width: 28px;
  height: 28px;
  border: 1px solid;
  opacity: 0.3;
}

.progress__small-button-3::after {
  width: 13px;
  height: 13px;
  border: 3px solid;
  background-color: var(--bg-color);
}
/* progress-bar-3 */

/* progress-bar-4 */
.progressing__item-4 .progressing__inner-title {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 85%;
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--heading-color);
  margin-bottom: 5px;
}

.progress__gradient-4 {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(to right, #e77654, #e5529a);
}

.progress__small-button-4::before,
.progress__small-button-4::after {
  content: "";
  position: absolute;
  right: 15%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.progress__small-button-4::before {
  width: 28px;
  height: 28px;
  border: 1px solid;
  opacity: 0.3;
}

.progress__small-button-4::after {
  width: 13px;
  height: 13px;
  border: 3px solid;
  background-color: var(--bg-color);
}
/* progress-bar-4 */

/* testimonials */

.testimonials {
  background-color: var(--bg-light-grey);
}

.testimonials__content {
  padding: 40px 30px;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.testimonials__blockquote {
  font-size: 1rem;
  margin-bottom: 1.5em;
}

.testimonials__blockquote p {
  font-size: 1.125rem;
  line-height: 28px;
  color: var(--font-color);
  opacity: 0.8;
}

.testimonials__img {
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bg-color);
}

.testimonials__item {
  gap: 20px;
}

.testimonials__people {
  align-self: center;
}

.testimonials__people h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--heading-color);
}

.testimonials__people p {
  color: var(--font-color);
  opacity: 0.8;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot span {
  background-color: var(--secondary-color);
  opacity: 0.5;
  transition: all 0.3s;
  margin: 6px 8px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--secondary-color);
  transform: scale(1.5);
  opacity: 1;
}

/* newsblog */

.newsblog .card {
  border: 1px solid var(--border-color);
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
}

.newsblog .card-header {
  border: none;
  overflow: hidden;
}

.newsblog .card-header img {
  border-radius: 6px 6px 0 0;
  transition: all 0.3s;
}

.newsblog .card:hover .card-header img {
  transform: scale(1.1);
}

.card-body-p1 {
  text-decoration: none !important;
  font-size: 1.0625rem;
  font-weight: 400;
  color: #999;
}

.card-body-p1:hover {
  color: #999;
}

.card-body-p2 {
  text-decoration: none !important;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 28px;
  color: var(--heading-color);
  margin-top: 10px;
  transition: all 0.3s;
}

.card-body-p2:hover {
  color: var(--primary-color);
}

.card-footer {
  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color-light);
}

.newsblog__grid {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center !important;
}

.card-footer .newsblog__grid > a {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.card-footer ul {
  list-style: none;
  margin-bottom: 0;
}

.card-footer a img {
  border-radius: 50%;
}

.card-footer ul span {
  font-size: 0.9375rem;
  font-weight: 600;
  opacity: 0.6;
  color: var(--font-color);
}

.card-footer ul li a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 26px;
  transition: all 0.3s;
}

.card-footer ul li a:hover {
  color: var(--primary-color);
}

.newsblog__date p {
  font-size: 0.9375rem;
  color: var(--font-color);
  opacity: 0.8;
  margin-bottom: 0;
}

/* subscribe */

.subscribe {
  background: url(../img/map.png) no-repeat center;
  background-color: #151421;
  background-size: contain;
}

.subscribe__content {
  max-width: 700px;
  margin: 0 auto;
}

.subscribe__header p {
  color: #eee;
  font-weight: 500;
}

.subscribe__form {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  max-width: 550px;
  margin: 0 auto;
}

.subscribe__form-icon {
  color: #999;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px 0 0 4px;
  padding: 0 15px;
}

input[type="email"] {
  padding: 14px 20px;
  font-size: 1rem;
  line-height: 28px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  color: var(--bg-light-grey);
  border-radius: 0;
  border-left: none;
}

.subscribe__button {
  padding: 0 25px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}

/* footer */

footer {
  background-color: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.footer__brand {
  color: var(--bg-color);
  font-size: 1.875rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.footer__brand:hover {
  text-decoration: none;
  color: var(--bg-color);
}

.footer__brand i {
  color: var(--primary-color);
  margin-right: 15px;
}

.footer__brand span {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  padding-left: 46px;
  opacity: 0.9;
}

footer h6 {
  color: var(--bg-color);
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}

footer p {
  font-size: 1.125rem;
  line-height: 28px;
  color: #97a1a9;
  opacity: 0.8;
}

.footer__icon ul a {
  opacity: 0.6;
  margin-right: 15px;
}

.footer__icon ul a:hover {
  opacity: 1;
}

.footer__icon ul,
.footer__categories ul,
.footer__meta ul {
  list-style: none;
}

.footer__icon a,
.footer__contact a,
.footer__categories a,
.footer__meta a {
  font-size: 1.125rem;
  line-height: 28px;
  color: #97a1a9;
  transition: all 0.3s;
}

.footer__icon a:hover,
.footer__contact a:hover,
.footer__categories a:hover,
.footer__meta a:hover {
  text-decoration: none;
  color: var(--bg-color);
}

.footer__categories li,
.footer__meta li {
  margin-bottom: 10px;
}

/* copyright */

.copyright {
  padding: 1.5rem 0;
  background-color: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.copyright p {
  color: #7f8a94;
  font-size: 1.0625rem;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.copyright a {
  font-size: 1.125rem;
  color: var(--primary-color);
  opacity: 0.8;
  transition: all 0.3s;
}

.copyright a:hover {
  color: var(--bg-color);
  text-decoration: none;
}

/* move to top */

#moveToTop {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: var(--primary-color);
  line-height: 36px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 88;
  font-size: 1.125rem;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

#moveToTop:hover,
#moveToTop:focus {
  border: none;
  box-shadow: none;
}

/* light theme */

#mybody {
  background-color: var(--bg-color);
}

#switchButton .fa-sun-o {
  display: none;
}

#switchButton .fa-moon-o {
  display: block;
  width: 24px;
}

/* dark theme */

.dark#mybody {
  background-color: #000;
}

.dark #navbarContent .dropdown-menu,
.dark #navbarContent .dropdown-menu:before {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.dark #navbarContent .dropdown-menu:before {
  border-right: none;
  border-bottom: none;
}

.dark #switchButton .fa-sun-o {
  display: block;
}

.dark #switchButton .fa-moon-o {
  display: none;
}

.dark .carousel__overlay {
  background-color: rgba(29, 42, 55, 0.8);
}

.dark header.nav-fixed,
.dark section.about,
.dark .work__item,
.dark .services,
.dark .services__info a,
.dark section.progressing,
.dark section.newsblog,
.dark .card-body,
.dark .card-footer,
.dark #navbarContent .dropdown-menu,
.dark #navbarContent .dropdown-menu:before,
.dark .carousel .slick-arrow {
  background-color: #151421;
}

.dark .carousel .slick-arrow {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .carousel__shape path {
  fill: #151421;
}

.dark #navbarContent .nav-link {
  color: #eee !important;
}

.dark .nav-fixed #navbarContent .nav-item.dropdown::after {
  color: #fff;
}

.dark .nav-fixed .navbar-expand-lg .navbar-brand,
.dark #navbarContent .header__modecontainer i,
.dark .title__big,
.dark section.about ul li a,
.dark .work__item a,
.dark .services__learnMore,
.dark .progressing__inner-title,
.dark .testimonials__blockquote p,
.dark .testimonials__people h3,
.dark .card-body-p2,
.dark .card-footer ul li a,
.dark #navbarContent .dropdown-item,
.dark .carousel .slick-prev.slick-arrow:before,
.dark .carousel .slick-next.slick-arrow:before {
  color: #eee;
}

.dark .title__p,
.dark .services__info p,
.dark .newsblog__date p {
  color: #c2c2c2;
}

.dark section.work,
.dark section.gallery,
.dark .progressing .progress,
.dark .progress__small-button-1::after,
.dark .progress__small-button-2::after,
.dark .progress__small-button-3::after,
.dark .progress__small-button-4::after,
.dark section.testimonials {
  background-color: #100f19 !important;
}

.dark .work__item a:hover,
.dark .services__info a:hover,
.dark .services__learnMore:hover,
.dark .newsblog .card-body a:hover,
.dark .newsblog .card-footer a:hover {
  color: var(--primary-color);
}

.dark .services__info a {
  color: #eee;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark .gallery__logo,
.dark .card-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.dark .newsblog .card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

/* --------responsive-------- */

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1199px) {
  .navbar .navbar-brand {
    font-size: 32px;
  }
}

@media only screen and (max-width: 1080px) {
  .title__big {
    font-size: 32px !important;
    line-height: 40px;
  }
}

@media only screen and (max-width: 991px) {
  header.main-header {
    height: auto;
    padding: 20px 0;
  }

  .navbar .navbar-brand {
    font-size: 32px;
  }

  .navbar-nav {
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    animation: none;
    padding: 0;
  }

  #navbarContent .nav-link {
    display: block;
    text-align: center;
    padding: 6px 0;
  }

  #navbarContent .dropdown-menu {
    transform: translateX(0px);
    text-align: center;
  }

  .navbar-collapse {
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
  }

  .navbar-toggler {
    padding: 0 !important;
    border: 0;
    font-size: 24px;
  }

  .navbar-toggler-icon.fa {
    font-size: 20px;
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
  }

  .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background-color: var(--primary-color);
    border-radius: 4px;
    text-align: center;
  }

  .header__search {
    position: absolute;
    top: 10px;
    right: 65px;
  }

  .header__control .header__searchButton {
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .header__search .fa-close {
    right: -50px;
  }

  #switchButton.header__modecontainer {
    position: absolute;
    right: 44px;
    top: 18px;
  }

  .carousel__content h1 {
    font-size: 50px;
  }

  .slick-initialized .carousel__item {
    min-height: 700px;
  }

  .footer__contact h6 {
    margin-bottom: 20px;
  }

  .header__search-input .header__input-search {
    position: absolute;
    right: -50%;
    width: initial;
  }

  header.nav-fixed {
    height: auto;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 768px) {
  .slick-initialized .carousel__item {
    min-height: 650px;
    padding-bottom: 40px;
  }

  .carousel__content h1 {
    font-size: 45px;
  }

  .carousel__content p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 736px) {
  .header__search .fa-close {
    right: -110px;
    z-index: 9;
  }

  .header__search-input .header__input-search {
    position: absolute;
    right: -80px;
  }
}

@media only screen and (max-width: 568px) {
  .slick-initialized .carousel__item {
    min-height: 600px;
    padding-bottom: 0;
  }

  .carousel__content h1 {
    font-size: 40px;
  }

  .title__big {
    font-size: 30px !important;
    line-height: 38px;
  }

  section.about ul li {
    margin-bottom: 10px;
  }

  .header__search .fa-close {
    right: -60px;
    z-index: 9;
    font-size: 46px;
  }

  .header__search-input .header__input-search {
    font-size: 46px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar .navbar-brand {
    font-size: 26px;
  }

  .slick-initialized .carousel__item {
    min-height: 550px;
  }

  .carousel__content h1 {
    font-size: 36px;
  }

  .navbar .navbar-brand span {
    font-size: 13px;
    padding-left: 38px;
  }

  #switchButton.header__modecontainer {
    top: 13px;
  }

  .header__search {
    top: 6px;
  }

  .header__search-input .header__input-search {
    font-size: 40px;
  }

  .carousel__slider .slick-arrow {
    width: 45px;
    height: 45px;
  }

  .carousel__slider .slick-arrow.slick-prev {
    right: 80px;
  }

  .carousel .slick-prev.slick-arrow:before,
  .carousel .slick-next.slick-arrow:before {
    font-size: 14px;
    line-height: 42px;
  }
}

@media only screen and (max-width: 415px) {
  .carousel__content h1 {
    font-size: 32px;
  }

  .title__big {
    font-size: 26px !important;
    line-height: 32px;
  }

  section.about ul li {
    margin-bottom: 5px;
  }

  footer p {
    font-size: 17px;
  }

  footer__brand {
    font-size: 26px;
  }

  .header__search-input .header__input-search {
    right: -125px;
  }
}

@media only screen and (max-width: 375px) {
  .header__search .fa-close {
    font-size: 35px;
  }

  .header__search-input .header__input-search {
    font-size: 35px;
  }
}

/* keyframes */

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateX(-5deg);
  }
  to {
    transform: perspective(400px);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
